#header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    height: 200px;
}

#notification {
    background-color: #eeeeee;
    min-height: 500px;
    height: auto;
    width: 300px;
    float: left;
    padding: 5px;
}

#friendlist {
    background-color: #eeeeee;
    min-height: 500px;
    height: auto;
    width: 300px;
    float: right;
    padding: 5px;
}

#section {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#textarea {
    width: 500px;
    height: 80px;
    margin-top: 50px;
}

#wall {
    padding: 10px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #a6e1ec;
    min-height: 350px;
    height: auto;
}